:root {
  --light: #f5f5f5;
  --l-light: #E8F6FB;
  --blue: #0089D1;
  --bludark: #337AB7;
  --bluedark: #4289CC;
  --blue-dark: #152c44;
  --blight: #309FD8;
  --bllight: #6BBBE3;
  --blulight: #7FD1FB;
  --bluelight: #D3E9F7;
  --blue-light: #E0F5FF;
  --green: #63D4A3;
  --green-d: #41B296;
  --green-light: #55C4A8;
  --green-dark: #38A4AF;
  --dark: #2B1C04;
  --brown: ##64442D;
  --gold: #C5A245;
  --pink: #F47458;
  --pink-dark: #EC6B63;
  --pink-light: #FFC0BC;
  --red: #D51524;
  --red-dark: #C0180A;
  --red-light: #E34538;
  --orange: #ff9533;
  --yellow: #ffd600;
  --yellow-light: #fff6a8;
  --indigo: #6610f2;
  --purple: #9999ff;
  --teal: #397B81;
  --teal-dark: #246166;
  --cyan: #e2e6ea;
  --white: #FFFFFF;
  --white-dark: #cbcfd1;
  --white-light: #e2e6e9;
  --black: #000000;
  --gray: #a7abae;
  --gray-dark: #6D6F71;
  --gray-light: #DCDCDC;
  --primary: #007bff;
  --primary-dark: #005cbf;
  --primary-light: #0069d9;
  --secondary: #9a9da0;
  --secondary-dark: #555555;
  --secondary-light: #888888;
  --success: #28a745;
  --success-dark: #1c7430;
  --success-light: #218838;
  --info: #17a2b8;
  --info-dark: #10707f;
  --info-light: #16b7cf;
  --warning: #ffc107;
  --warning-dark: #d39e00;
  --warning-light: #e0a800;
  --danger-dark: #55181b;
  --danger-light: #FF0000;
  --danger: #E04523;
}